<table *ngIf="!selectedBook">
<thead>
  <tr>
    <td>Title</td>
    <td>Author</td>
    <td>Genre</td>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let book of books" (click)="booksDetails(book)">
  <td>{{book.title}}</td>
  <td>{{book.author}}</td>
  <td>{{book.genre}}</td>
  </tr>
</tbody>
</table>




<div *ngIf="selectedBook">
  <h3>{{selectedBook.id}} - {{selectedBook.title}}</h3>
  <blockquote>{{selectedBook.summary}}</blockquote>
  <p>{{selectedBook.pages}}</p>
  <p>{{selectedBook.yearPublished}} - {{selectedBook.publisher}}</p>
  <p>{{selectedBook.isbn}}</p>
  <button (click)="setEditBook()">Edit</button>
  <button (click)="deleteBook(selectedBook.id)">Delete Record</button>
  <button (click)="showBooks()">All Books</button>
</div>


<div>
  <form *ngIf="!selectedBook" #newBook="ngForm">
    Add a new Book<br>
    <input type="text" placeholder="Title" name="title" ngModel/><br>
    <input type="text" placeholder="Author" name="author" ngModel/><br>
    <input type="text" placeholder="Genre" name="genre" ngModel/><br>
    <textarea rows="2" cols="25" placeholder="Summary" name="summary" ngModel></textarea><br>
    <input type="number" placeholder="Pages" name="pages" ngModel/><br>
    <input type="text" placeholder="Year Published" name="yearPublished" ngModel/><br>
    <input type="text" placeholder="Publisher" name="publisher" ngModel/><br>
    <input type="text" placeholder="ISBN" name="isbn" ngModel/><br>
    <button (click)="createBook(newBook)">Add Book</button>
  </form>
</div>


<div>
  <form *ngIf="bookToEdit">
    <input type="text" placeholder="title" name="title" [(ngModel)]="bookToEdit.title"/><br>
    <input type="text" placeholder="Author" name="author" [(ngModel)]="bookToEdit.author"/><br>
    <input type="text" placeholder="Genre" name="genre" [(ngModel)]="bookToEdit.genre"/><br>
    <textarea rows="2" cols="25" placeholder="Summary" name="summary" [(ngModel)]="bookToEdit.summary"></textarea><br>
    <input type="number" placeholder="Pages" name="pages" [(ngModel)]="bookToEdit.pages"/><br>
    <input type="text" placeholder="Year Published" name="yearPublished" [(ngModel)]="bookToEdit.yearPublished"/><br>
    <input type="text" placeholder="Publisher" name="publisher" [(ngModel)]="bookToEdit.publisher"/><br>
    <input type="text" placeholder="ISBN" name="isbn" [(ngModel)]="bookToEdit.isbn"/><br>
    <button (click)="editBook(bookToEdit)">Save</button>
    <button (click)="bookToEdit=null">Cancel</button>
  </form>
</div>
